

.Modal{
        background-color: rgb(255, 255, 255);
        padding: 20px;
        border: 2px solid black;
}

.Modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Modal button{
    padding: 10px;
    font-size: 18px;
}

.modal_grid{
    margin: 10px 0;
    grid-gap: 0.6rem;
}

.modal-container{
    padding: 50px;
    min-height:100vh;
    margin: auto;
}

hr{
    margin: 10px 0;
}