
.Navbar{
    padding: 30px;
    background-color: rgb(32, 101, 250);
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}


.Navbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    z-index: -2;
}

.Navbar_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Navbar input{
    padding: 7px;
    width: 200px;
}

.Navbar label{
    margin: 0 10px;
}

#search_button{
    padding: 10px 5px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: 2px solid rgb(7, 0, 0);
    cursor: pointer;
}

#search_button:hover{
    background-color:rgb(5, 5, 165)
}

#search_button:active{
    background-color:rgb(2, 2, 90)
}