*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3{
  margin: 6px 0;
}


body{
  font-family: sans-serif;
}

.app{
  min-height: 100vh;
  /* background-image: linear-gradient(#009FFD,#2A2A72); */
  background-image: url('/public/images/skys.jpg');
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

.flex{
  display: flex;
}

.menu_select{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_select button{
  padding: 50px;
  font-size: 30px;
  margin: 0 30px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.menu_select button:hover{
  background-color: rgb(4, 4, 128);
}

.container{
    margin: auto;
    width: 90%;
    /* background-color: red; */
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-button{
  border: none;
  background: none;
}